@model FastFood.Models.SanPham

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>

        <dd>
        <dd>
            <img src="@Model.Hinhanh" style="width:400px;height:400px;" />
        </dd>
     

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCC.TenNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCC.TenNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
