@using VSLT_FastfoodTeam.Models;
@{
    Layout = null;
}
<h2>Đăng ký</h2>
@using (Html.BeginForm())
{
<form action="/action_page.php">
    <div class="container">
        <h1>Đăng ký</h1>
        <p>Vui lòng nhập đầy đủ thông tin vào đơn.</p>
        <hr>
        <label for="TenTK"><b>Tên tài khoản</b></label> @ViewData["taikhoantontai"]<br />
        <input type="text" id="TenTK" name="TenTK" class="form-control" placeholder="Tên tài khoản" required>
        <label for="TenTK"><b>Mật khẩu</b></label> @ViewData["NhapMKXN"] <br />
        <input type="text" name="matkhau" class="form-control" placeholder="Mật khẩu" required>
        <br />
        <label for="TenTK"><b>Mật khẩu xác nhận</b></label> @ViewData["MatkhauGiongNhau"]<br />
        <input type="text" name="MatkhauXacNhan" class="form-control" placeholder="Mật khẩu xác nhận" required>
        <br />
        <label for="TenTK"><b>Email</b></label> @ViewData["mailtontai"]<br />
        <input type="text" name="email" class="form-control" placeholder="Email" required>
        <br />
        <label for="TenTK"><b>Họ và tên</b></label><br />
        <input type="text" name="TenKH" class="form-control" placeholder="Họ và tên" required>
        <br />
        <label for="TenTK"><b>Số điện thoại</b></label><br />
        <input type="text" name="SDT" class="form-control" placeholder="Số điện thoại " required>
        <br />
        <label for="TenTK"><b>Địa chỉ</b></label><br />
        <input type="text" name="DiaChi" class="form-control" placeholder="Địa chỉ" required>
        <br />
        <p><a href="#"></a></p>

        <button type="submit" class="registerbtn">Đăng ký</button>
    </div>
    <div class="container signin">
        <p>Đã có tài khoản? <a href="/User/DangNhap">Đăng nhập</a>.</p>
    </div>
</form>
}

<div>
    @Html.ActionLink("Back to Main Page", "Index", "LayoutMain")
</div>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>
<body>
</body>
</html>


